<div x-data="{ show: false }"
    class="input flex items-center gap-x-2 {{#if color}}input-{{color}}{{/if}} {{#if transition}}color-transition{{/if}}">
    <input class="flex-1 px-1" {{#if id}}id="{{ id }}" {{/if}} type="password" name="{{ name }}" {{#if
        required}}required{{/if}} placeholder="{{ placeholder }}" {{#if autocomplete}}autocomplete="{{ autocomplete }}"
        {{/if}} {{#if data-loading-disable}}data-loading-disable{{/if}} x-model="value">
    <button type="button" x-text="show ? 'HIDE' : 'SHOW'" @click="show = !show"
        class="flex items-center justify-center w-18"></button>
</div>
