<div x-data="{ show : false }" class="input {{#if color}}input-{{color}}{{/if}} {{#if transition}}color-transition{{/if}}">
    <input :type="show ? 'text' : 'password'" {{#if id}}id="{{ id }}" {{/if}} name="{{ name }}" {{#if required}}required{{/if}}
        placeholder="{{ placeholder }}" x-model="value" {{#if autocomplete}}autocomplete="{{ autocomplete }}" {{/if}}
        {{#if data-loading-disable}}data-loading-disable{{/if}}
    >
    <button type="button" x-text="show ? 'HIDE' : 'SHOW'" @click="show = !show"></button>
</div>