<div x-data="{ show : false }" class="input flex items-center gap-x-2 {{#if color}}input-{{color}}{{/if}} {{#if transition}}color-transition{{/if}}">
    <input :type="show ? 'text' : 'password'" {{#if id}}id="{{ id }}" {{/if}} name="{{ name }}" {{#if required}}required{{/if}}
        placeholder="{{ placeholder }}"{{#if autocomplete}}autocomplete="{{ autocomplete }}" {{/if}}
        {{#if data-loading-disable}}data-loading-disable{{/if}} class="flex-1 px-1" x-model="value"
    >
    <button type="button" @click="show = !show" class="flex items-center justify-center w-18">
      <div x-show="show">{{> icon/eye-slash size=6 color="text-secondary" fill="none" stroke-width=1 }}</div>
      <div x-show="!show">{{> icon/eye size=6 fill="none" stroke-width=1 }}</div>
    </button>
</div>