<div class="input flex items-center gap-x-2 {{#if color}}input-{{color}}{{/if}} {{#if transition}}color-transition{{/if}}">
    <input class="flex-1 px-1" {{#if id}}id="{{ id }}" {{/if}} type="password" name="{{ name }}" {{#if required}}required{{/if}}
        placeholder="{{ placeholder }}" {{#if autocomplete}}autocomplete="{{ autocomplete }}" {{/if}}
        {{#if data-loading-disable}}data-loading-disable{{/if}}
    >
    <button id="hide-btn-pwd" class="hidden" type="button" onclick="hidePassword('{{ id }}')">HIDE</button>
    <button id="show-btn-pwd" type="button" onclick="showPassword('{{ id }}')">SHOW</button>
</div>
<script>
    function hidePassword(id) {
        const hideButton = document.getElementById("hide-btn-pwd");
        const showButton = document.getElementById("show-btn-pwd");
        const passwordInput = document.getElementById(id);
        passwordInput.type = "password";
        hideButton.classList.add("hidden");
        showButton.classList.remove("hidden");
    }
    function showPassword(id) {
        const showButton = document.getElementById("show-btn-pwd");
        const hideButton = document.getElementById("hide-btn-pwd");
        const passwordInput = document.getElementById(id);
        passwordInput.type = "text";
        showButton.classList.add("hidden");
        hideButton.classList.remove("hidden");
    }
</script>