<div class="input flex items-center gap-x-2 {{#if color}}input-{{color}}{{/if}} {{#if transition}}color-transition{{/if}}">
    <input type="text" {{#if id}}id="{{ id }}" {{/if}} name="{{ name }}" {{#if required}}required{{/if}}
        placeholder="{{ placeholder }}" {{#if data-loading-disable}}data-loading-disable{{/if}} {{#if
        autocomplete}}autocomplete="{{ autocomplete }}" {{/if}} x-model="value" class="flex-1 px-1">
    <button type="button" x-on:click="value = ''" class="flex items-center justify-center w-18">{{> icon/x-mark size=6 }}</button>
</div>
