{{#let spread=this sidebar-id=(chain 'sidebar-' (uuid))}}
    <div id="{{ sidebar-id }}" class="sidebar" x-data="sidebar('{{ sidebar-id }}')">
        <div class="underlay">
        </div>
        <div x-bind="dialogue" class="sidebar-content slide-to-{{withDefault slide "left"}}">
            <div class="{{cond (eq slide "right") 'flex-row-reverse' ''}} flex items-center justify-between p-2">
                {{#if header }}
                    {{ header }}
                {{/if}}
                <section class="flex items-center justify-end">
                    <button
                        class="bg-white border rounded hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                        x-bind="closer">
                        <span sr-only="Close sidebar"
                            class="inline-flex items-center p-1 text-sm text-gray-700 bg-transparent">
                            {{> icon/close size=6 stroke="none"  }}
                        </span>
                    </button>
                </section>
            </div>
            <div id="sidebar-block" class="flex h-full overflow-auto">
                {{> @partial-block }}
            </div>
        </div>
    </div>
{{/let}}