{{#let spread=this sidebar-id=(chain 'sidebar-' (uuid))}}
    <div id="{{ sidebar-id }}" class="sidebar">
        <div class="underlay" onclick="sidebar.close('{{ sidebar-id }}', {{ back }})">
        </div>
        <div class="sidebar-content slide-to-{{withDefault slide "left"}}">
            <div class="flex items-center justify-between w-full p-2">
                {{#if header }}
                    {{ header }}
                {{/if}}
                <section class="flex items-center justify-end">
                    <button
                        class="bg-white border rounded hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                        onclick="sidebar.close('{{ sidebar-id }}', {{ back }})">
                        <span sr-only="Close sidebar"
                            class="inline-flex items-center p-1 text-sm text-gray-700 bg-transparent">
                            {{> icon/close size=6 stroke="none"  }}
                        </span>
                    </button>
                </section>
            </div>
            <div class="flex h-full overflow-auto">
                {{> @partial-block }}
            </div>
        </div>
    </div>
{{/let}}