<a hx-boost="true" {{#if onclick}}onclick="{{ onclick }}"{{/if}} href="{{href}}" hx-target="{{withDefault target '#content'}}" class="{{class}}" hx-push-url="true" hx-swap="innerHTML">
  {{#if label}}
    <span>{{label}}</span>
  {{/if}}
  {{#if icon}}
    <span>{{ icon.component }}</span>
  {{/if}}
  {{#if image}}
    {{> image/default alt=image.alt src=image.src }}
  {{/if}}
</a>