<a hx-boost="true" href="{{href}}" hx-target="{{withDefault target '#content'}}" class="{{class}}" hx-push-url="true" hx-swap="innerHTML">
  {{#if label}}
    <span>{{label}}</span>
  {{/if}}
  {{#if icon}}
    <span>{{ icon.component }}</span>
  {{/if}}
  {{#if image}}
    <img alt="{{ image.alt }}" class="object-cover object-center w-full h-full block" src="{{ image.src }}">
  {{/if}}
</a>