{{!< main }}
{{#> element/seo }}
  <div class="flex flex-col h-full max-w-xl mx-auto">
    <div class="flex items-center justify-center my-4">
      {{> link/default href=post.url.back label=(chain "Back to " (cond me "my posts" (cond (test currentURLPathname (toRegex "^/users")) (chain author.username "'s posts") "posts"))) icon=(object component=(partial "icon/arrow-left") position="left") }}
    </div>
    <div class="flex items-center justify-between my-4">
      {{> link/prev-next prev=(object url=post.url.prev label="Previous post") next=(object url=post.url.next label="Next post")}}
    </div>
    <div class="flex flex-col h-full p-8 mx-auto border rounded-md shadow-md gap-y-4">
      <h3 class="flex items-center justify-between">
        {{#if author}}
          <div>by {{> link/primary href=(chain "/users/" (numberIntoString author.id)) label=author.username }}</div>
        {{/if}}
        <div class="flex items-center justify-end grow gap-x-2">
          {{> button/heart-circle class="flex disabled:cursor-not-allowed disabled:bg-neutral-200"
                        hx-post=(append "/reaction/post/" (numberIntoString post.id)) hx-trigger="click" data-loading-target="#loading-3"
                        data-loading-busy=true data-loading-disable=true data-loading-icon="lottie/loading-1" liked=post.liked
                        hx-target="#content" hx-vals=(JSONstringify (object reaction=post.reactions)) data-loading-path=(append "/reaction/post/" (numberIntoString post.id))
                        bg-icon-color="bg-secondary"}}
          <span>{{ post.reactions }}</span>
        </div>
      </h3>
      <h2 class="mb-8 font-medium">{{ post.title }}</h2>
      <p class="text-base">{{ post.body }}</p>
      {{#if post.tags}}
        <div class="flex flex-wrap gap-2">
          <span>Tags: </span> {{> element/tags items=post.tags limit=(length post.tags)}}
        </div>
      {{/if}}
    </div>
    <div class="flex items-center justify-between my-4">
      {{> link/prev-next prev=(object url=post.url.prev label="Previous post") next=(object url=post.url.next label="Next post")}}
    </div>
    <hr>
    <div class="px-4 my-4">
      {{#if isAuthenticated}}
        {{> form/comment }}
      {{else}}
        <div class="flex flex-wrap items-end gap-2 text-xl">Please
          {{> auth/trigger component=(partial 'button/link-3' label="log in" class="text-3xl link link-primary") }}
          before
          comment.
        </div>
      {{/if}}
    </div>
    <div hx-get="/comments/post/{{ post.id }}" hx-swap="innerHTML" hx-push-url="false"
        hx-trigger="load, add-comment from:body" data-loading-class="hidden" class="px-4 mb-4">
      <div id="comment-loader" data-loading class="justify-center">{{> lottie/loading-1 size=16 }}</div>
    </div>
  </div>
{{/element/seo }}