{{#let spread=this item-id-image=(chain "item-" (numberIntoString id) "-image")}}
  <li hx-boost="true" hx-get="/products/{{ id }}/image" hx-trigger="load" hx-target="#{{ item-id-image }}"
      class="flex border rounded h-[10rem]">
    <a id="{{ item-id-image }}" href="/products/{{ id }}" hx-target="#content"
        onclick="sidebar.close('{{ sidebar-id }}')" class="hidden max-w-[25%] md:max-w-[33%] xs:block"></a>
    <div class="flex flex-col justify-between w-3/4 p-2 md:w-2/3">
      <div class="flex items-center justify-between">
        {{> link/base class="underline truncate text-md underline-offset-4" onclick=(chain "sidebar.close('" sidebar-id "')") href=(chain "/products/" (numberIntoString id)) label=title }}
        {{> button/trash hx-get=(chain "/cart/item/" (numberIntoString id)) hx-vals=(JSONstringify (object sidebar-id=sidebar-id)) hx-swap="beforeend" hx-target="#sidebar-block" class="h-10 p-2 border rounded border-danger-500 text-danger-500" size=6 }}
      </div>
      <div class="flex items-center justify-between">
        <span>Quantity :</span>
        {{> cart/item-quantity product-id=id value=quantity min=1 max=5 }}
      </div>
      <div class="flex items-center justify-between">
        <span class="shrink-0">price: ${{ price }}</span>
        <span>total: ${{ total }}</span>
      </div>
    </div>
  </li>
{{/let}}