{{#let spread=this item-id-image=(chain "item-" (numberIntoString id) "-image")}}
  <li hx-boost="true" hx-get="/products/{{ id }}/image" hx-trigger="load" hx-target="#{{ item-id-image }}"
      class="border rounded min-h-[10rem] grid grid-cols-4 md:grid-cols-3">
    <a id="{{ item-id-image }}" href="/products/{{ id }}" x-bind="closer" hx-target="#content" class="items-center justify-center hidden xs:flex"></a>
    <div class="flex flex-col justify-between col-span-3 p-2 md:col-span-2">
      <div class="flex items-center justify-between">
        {{> link/base class="underline truncate text-md underline-offset-4" x-bind="closer" href=(chain "/products/" (numberIntoString id)) label=title }}
        {{> button/simple hx-get=(chain "/cart/item/" (numberIntoString id))
                          hx-swap="beforeend"
                          hx-target="#sidebar-block"
                          hx-vals=(JSONstringify (object sidebar-id=sidebar-id))
                          class="h-10 p-2 border rounded border-danger-500 text-danger-500"
                          icon=(object component=(partial 'icon/trash' fill='none' size=6)) }}
      </div>
      <div class="flex items-center justify-between">
        <span>Quantity :</span>
        {{> cart/item-quantity product-id=id value=quantity min=1 max=5 }}
      </div>
      <div class="flex items-center justify-between">
        <span class="shrink-0">price: ${{ price }}</span>
        <span>total: ${{ total }}</span>
      </div>
    </div>
  </li>
{{/let}}