{{> loading/updating-cart text='Updating cart...' }}
<div class="flex items-center gap-x-4">
{{#if label}}
  <span>{{ label }}</span>
{{/if}}
<div class="flex items-center gap-x-2">
  <button id="decrement-item-quantity" type="button" {{#if (eq value min)}}disabled{{/if}} hx-vals="{{JSONstringify (object quantity=(subtract value 1))}}"
    hx-put="/cart/item/{{ product-id }}" hx-target="#sidebar-block"
      class='p-2 bg-white border rounded border-secondary disabled:bg-gray-100 disabled:border-none disabled:cursor-not-allowed'>
    {{> icon/minus class="text-secondary" }}
  </button>
  <input id="input-item-quantity" class="w-12 text-center input out-of-range:bg-danger-500" type="number" min="{{ min }}"
    hx-put="/cart/item/{{ product-id }}" hx-target="#sidebar-block"
      max="{{ max }}" value="{{ value }}" name="quantity" pattern="/\d/g" />
  <button id="increment-item-quantity" type="button" {{#if (eq value max)}}disabled{{/if}} hx-vals="{{JSONstringify (object quantity=(add value 1))}}"
    hx-put="/cart/item/{{ product-id }}" hx-target="#sidebar-block"
      class='p-2 bg-white border rounded border-secondary disabled:bg-gray-100 disabled:border-none disabled:cursor-not-allowed'>
    {{> icon/plus class="text-secondary" }}
  </button>
</div>
</div>